* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: auto;
}
body {
  margin:0;
}

header {
  background-color: black;
  height: 107px;
}
footer {
  background-color: black;
  height: 107px;
}

a {
  text-decoration: none;
}
a:visited { text-decoration: none; color:white; }

.logo {
  width: 474px;
  height: 69px;
  float: left;
  margin-left: 15px;
}
.about {
  font-size: 25px;
  float: right;
  margin-top: 40px;
  margin-right: 5px;
  font-family: futura-pt-bold,sans-serif;
  font-weight: 700;
  font-style: normal;
}
.music {
  font-size: 25px;
  float: right;
  margin-top: 40px;
  margin-right: 5px;
  font-family: futura-pt-bold,sans-serif;
  font-weight: 700;
  font-style: normal;
}
.tour {
  font-size: 25px;
  float: right;
  margin-top: 40px;
  margin-right: 70px;
  font-family: futura-pt-bold,sans-serif;
  font-weight: 700;
  font-style: normal;
}
.homebody {
  size: 100vh;
  background-color: black;
}
.homeimage{
  width: 100%;
  height: 880px;
  object-fit: cover;
}
.footercontainer {
  display: flex;
  justify-content: center;
}
.footercontent {
  margin-top: 30px;
  width: 250px;
  height: 50px;
}
.spotify {
  width: 50px;
  height: 50px;
  float: left;
}
.applemusic {
  width: 50px;
  height: 50px;
  float: left;
}
.soundcloud {
  width: 50px;
  height: 50px;
  float: left;
}
.instagram {
  width: 50px;
  height: 50px;
  float: left;
}
.twitter {
  width: 50px;
  height: 50px;
  float: left;
}

.spotifypic {
  width: 50px;
  height: 50px;
}
.applepic {
  width: 50px;
  height: 50px;
}
.soundcloudpic {
  width: 50px;
  height: 50px;
}
.instagrampic {
  width: 50px;
  height: 50px;
}
.twitterpic {
  width: 50px;
  height: 50px;
}

.aboutpicture {
float: left;
margin-right: 15px;
margin-left: 17px;
}

.text {
  background-color: #4D474B;
  color: white;
  width: 670px;
  height: 520px;
  font-size: 20px;
  float: left;
}
.middle {
  height: 100vh;
  background-color: #D8CAD6;
}
.aboutcontent {
  width: 1000px;
  height: 600px;
  margin-top: 14vh;
  margin-bottom: 25px;
}
.aboutcontainer {
  display: flex;
  justify-content: center;
}
.p1 {
  width: 580px;
  line-height: 35px;
  margin-top: 80px;
  margin-left: 50px;
  float: left;
  font-family: source-code-pro, monospace;
  font-weight: 300;
  font-style: normal;
}
.p2 {
  width: 580px;
  line-height: 35px;
  margin-top: 30px;
  margin-left: 50px;
  float: left;
  font-family: source-code-pro, monospace;
  font-weight: 300;
  font-style: normal;
}
.p3 {
  width: 200px;
  line-height: 35px;
  float: left;
  margin-left: 425px;
  font-family: source-code-pro, monospace;
  font-weight: 300;
  font-style: normal;
}
.middle2 {
  background-color: #EFEBC5;
}
.wavecontainer {
  display: flex;
  justify-content: center;
}
.wavecontent {
  height: 1280px;
  width: 770px;
  float: left;
  margin-top: 14vh;
}
.wave {
  float: left;
  width: 770px;
}
.wavetitle {
  float: left;
  margin-top: 20px;
  font-family: source-code-pro, monospace;
  font-weight: 400;
  font-style: normal;
}
.wavetracklist {
  float: left;
  margin-top: 100px;
  line-height: 50px;
  font-size: 25px;
  font-family: source-code-pro, monospace;
  font-weight: 300;
  font-style: normal;
  margin-left: 225px;
}
.bloomcontent {
  height: 1280px;
  width: 770px;
  float: left;
  margin-top: 14vh;
}
.bloom {
  float: left;
  width: 770px;
}
.bloomcontainer {
  display: flex;
  justify-content: center;
}
.bloomtitle {
  float: left;
  margin-top: 20px;
  font-family: source-code-pro, monospace;
  font-weight: 400;
  font-style: normal;
}
.bloomtracklist {
  float: left;
  margin-top: 100px;
  line-height: 50px;
  font-size: 25px;
  font-family: source-code-pro, monospace;
  font-weight: 300;
  font-style: normal;
  margin-left: 225px;
}
.flingcontainer {
  display: flex;
  justify-content: center;
}
.flingcontent {
  height: 1280px;
  width: 770px;
  float: left;
  margin-top: 14vh;
}
.fling {
  float: left;
  width: 770px;
}
.flingtitle {
  float: left;
  margin-top: 20px;
  font-family: source-code-pro, monospace;
  font-weight: 400;
  font-style: normal;
}
.flingtracklist {
  float: left;
  margin-top: 100px;
  line-height: 50px;
  font-size: 25px;
  font-family: source-code-pro, monospace;
  font-weight: 300;
  font-style: normal;
  margin-left: 225px;
}
.ninetycontainer {
  display: flex;
  justify-content: center;
}
.ninetycontent {
  height: 1280px;
  width: 770px;
  float: left;
  margin-top: 14vh;
  margin-bottom: 14vh;
}
.ninety {
  float: left;
  width: 770px;
}
.ninetytitle {
  float: left;
  margin-top: 20px;
  font-family: source-code-pro, monospace;
  font-weight: 400;
  font-style: normal;
}
.ninetytracklist {
  float: left;
  margin-top: 100px;
  line-height: 50px;
  font-size: 25px;
  font-family: source-code-pro, monospace;
  font-weight: 300;
  font-style: normal;
  margin-left: 225px;
}
.middle3 {
  background-color: #9EC0D3;
}
.tourcontent {
  margin-top: 100px;
  height: 3800px;
  width: 1000px;
}
.tourcontainer {
  display: flex;
  justify-content: center;
}
.upcoming {
  float: left;
  margin-left: 255px;
}
.dates {
  background-color: #262F33;
  color: white;
  float: left;
  margin-top: 10px;
  text-align: center;
  width: 965px;
  line-height: 35px;
  margin-left: 17px;
}
.date1 {
  margin-top: 50px;
  font-family: source-code-pro, monospace;
  font-weight: 300;
  font-style: normal;
}

.date2 {
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: source-code-pro, monospace;
  font-weight: 300;
  font-style: normal;
}
