* {
  box-sizing: border-box;
}
  body {
    margin: 0;
}

.board {
  width: 800px;
  margin: 50px auto;
}

.pink {
  width: 100px;
  height: 100px;
  background-color: hotpink;
  float: left;
}

.yellow {
  width: 100px;
  height: 100px;
  background-color: lightyellow;
  float: left;
}
