* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  width: 400px;
  height: 800px;
  background-color: black;
  border: 5px solid silver;
  border-radius: 30px;
  margin: 100px 0 0 100px;
}

.camera {
  width: 15px;
  height: 15px;
  background-color: #555555;
  border-radius: 50%;
  position: absolute;
  left: 300px;
  top: 140px;
}

.speaker {
  width: 50px;
  height: 15px;
  background-color: #777777;
  border-radius: 7.5px;
  position: absolute;
  left: 262.5
  top: 170px;
}
