body{
  margin: 0;
  overflow-x: hidden;
}
main {
  width: 120vw;
  margin: -10vw;
}
.shape1 {
  width: 100px;
  height: 100px;
  background-color: red
  float: left;
}
.shape2 {
  width: 100px;
  height: 100px;
  background-color: blue
  float: left;
}
.shape3 {
  width: 100px;
  height: 100px;
  background-color: yellow
  float: left;
}
